{% extends 'base.html.twig' %}

{% block title %}Profiel bewerken{% endblock %}

{% block body %}
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row no-gutters justify-content-center">
                <div class="col-md-8">
                    {% include 'profile/nav.html.twig' %}
                    <div class="wrapper">
                        <div class="profile-wrap w-100 p-md-5 p-4">
                            <h3 class="mb-4">Gebruikersgegevens</h3>
                            {{ form_start(userForm, {'attr': { 'class': 'contactForm' } }) }}
                            {{ form_row(userForm._token) }}
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="label" for="profile_displayName">E-mailadres</label>
                                        {{ form_row(userForm.email) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="label" for="profile_firstName">Nieuw Wachtwoord</label>
                                        {{ form_row(userForm.plainPassword.first) }}
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="label" for="profile_lastName">Nieuw Wachtwoord (nogmaals)</label>
                                        {{ form_row(userForm.plainPassword.second) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_row(userForm.save) }}
                                        <div class="submitting"></div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(userForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}